{% extends 'base.html' %}

{% load static %}

{% block title %}
    Listar Citas
{% endblock %}

{% block content %}

    <h1>Listas de Citas</h1>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Medico</th>
                <th>Codigo Remision</th>
                <th>Fecha Consulta</th>
                <th>Hora Consulta</th>
                <th>Motivo Consulta</th>
                <th>Nombre Acompañante</th>
                <th>Parentesco Acompañante</th>
                <th>Diagnostico</th>
                <th>Formula Medica</th>

            </tr>
        </thead>
        <tbody>
            {% if citas %}
            {% for cita in citas %}
            <tr>
                <td>{{ cita.paciente }}</td>
                <td>{{ cita.medico }}</td>
                <td>{{ cita.codigo_remision }}</td>
                <td>{{ cita.fecha_consulta }}</td>
                <td>{{ cita.hora_consulta }}</td>
                <td>{{ cita.motivo_consulta  }}</td>
                <td>{{ cita.nombre_acompañante }}</td>
                <td>{{ cita.parentesco_acompañante }}</td>
                <td>{{ cita.diagnostico }}</td>
                <td>{{ cita.medicamento }}</td>
        
            </tr>
            {% endfor %}
            {% else %}
                <p>No hay citas medicas para mostrar</p>
            {% endif %}
        </tbody>
    </table>
{% endblock %}